:root {
  --main: rgb(25, 0, 255);
  --second: rgb(0, 0, 22);
  --text: white;
  --text2: black;
}
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: rgb(0, 0, 29);
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  padding: 30px;
  color: var(--text);
}
nav a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}
.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  font-weight: 700;
}
.nav-logo p {
  font-size: 1.6rem;
}
.navbar {
  display: flex;
  gap: 30px;
}
.nav-button a {
  border: 1px solid var(--main);
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  color: var(--text);
  font-weight: 600;
}
header {
  color: var(--text);
  height: 100dvh;
}
.hero-container {
  display: flex;
  gap: 75px;
  align-items: center;
  padding: 75px 100px 50px 100px;
}
.hero-content {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-content img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 20px 1px;
  animation: loop 2s infinite alternate ease-in-out;
  animation-delay: 0.3s;
}
.hero-content-img {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.hero-content-img img {
  width: 15%;
  box-shadow: 1px 1px 10px white;
  padding: 10px;
  border-radius: 50%;
  justify-content: center;
}
.hero-content-img img:nth-child(1) {
  animation-delay: 0.3s;
}
.hero-content-img img:nth-child(2) {
  animation-delay: 0.6s;
}
.hero-content-img img:nth-child(3) {
  animation-delay: 0.9s;
}
.hero-content-img img:nth-child(4) {
  animation-delay: 1.2s;
}
.hero-content-img img:nth-child(5) {
  animation-delay: 1.5s;
}
@keyframes loop {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
.hero-aside {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.aside-title h1 {
  font-size: 2.8rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  padding: 7px;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 10px;
}
.aside-title h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.aside-title h2::after {
  content: "";
  font-weight: 700;
  animation: teks 7s infinite steps(1);
}
@keyframes teks {
  0%,
  25% {
    content: "Web Developer";
    color: var(--main);
    text-shadow: 1px 1px 20px var(--main);
  }
  25%,
  50% {
    content: "UI/UX Designer";
    color: rgb(255, 0, 200);
    text-shadow: 1px 1px 20px rgb(255, 0, 200);
  }
  50%,
  75% {
    content: "Type Writer";
    color: red;
    text-shadow: 1px 1px 20px red;
  }
  75%,
  99% {
    content: "Video Editor";
    color: orange;
    text-shadow: 1px 1px 20px orange;
  }
  100% {
    content: "Web Developer";
    color: var(--main);
    text-shadow: 1px 1px 20px var(--main);
  }
}
.aside-text p {
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: justify;
}
.aside-socmed {
  display: flex;
  align-items: center;
  gap: 30px;
}
.aside-socmed img {
  width: 3%;
  filter: invert(1);
}
.aside-socmed :nth-child(2) {
  animation: loop2 2s ease infinite alternate;
  animation-delay: 0.5s;
}
.aside-socmed :nth-child(3) {
  animation: loop2 2s ease infinite alternate;
  animation-delay: 1s;
}
.aside-socmed :nth-child(4) {
  animation: loop2 2s ease infinite alternate;
  animation-delay: 1.5s;
}
.aside-socmed :nth-child(5) {
  animation: loop2 2s ease infinite alternate;
  animation-delay: 2s;
}
@keyframes loop2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.aside-button {
  width: fit-content;
}
.aside-button a {
  background-color: var(--main);
  text-decoration: none;
  text-align: center;
  color: var(--text);
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid red;
}
main {
  color: var(--text);
  padding: 20px 75px 0px 75px;
}
.about {
  height: 100dvh;
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInSlide 5s ease forwards;
  animation-timeline: view(); 
  animation-range: entry 50%;
}
@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.about-title h1 {
  background-color: rgb(0, 0, 119);
  width: fit-content;
  padding: 7px;
  font-size: 1.5rem;
  color: rgb(68, 68, 253);
  border-radius: 7px;
}
.about-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.about-content {
  display: flex;
  align-items: center;
  gap: 50px;
}
.about-image {
  width: 30%;
}
.about-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  opacity: 1;
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}
.about-text h1 {
  font-family: "Momo Signature", sans-serif;
  font-weight: 900;
  font-size: 2.3rem;
  text-shadow: -4px 4px 5px rgba(255, 255, 255, 0.5);
}
.about-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.about-text p {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.6;
}
.about-text span {
  color: blue;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.about-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
.about-card {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 30%;
  height: 100px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: -2px 2px 2px 1px rgb(107, 107, 107);
}
.about-card img {
  width: 20%;
  height: auto;
}
.about-card h3 {
  font-size: 1.5rem;
}
.about-button {
  margin-top: 15px;
}
.about-button a {
  padding: 10px;
  text-decoration: none;
  border: 1px solid red;
  color: var(--text);
  border-radius: 5px;
  font-weight: 700;
}
